<div class="row">
    <div class="col-sm">
        <p-card>
            <div class="text-center">
                <strong>Sistema de temperatura</strong>
            </div>
            <div style="text-align: right; margin-right: 20%">
                <div class="col-sm">
                    Calefactor
                    <p-radioButton class="indicador-on" name="temperatura" value="1" disabled
                                   [(ngModel)]="indicadores.calefactor"></p-radioButton>
                </div>
                <div class="col-sm">
                    Ventilador
                    <p-radioButton class="indicador-on" name="temperatura" value="1" disabled
                                   [(ngModel)]="indicadores.ventilador"></p-radioButton>
                </div>
                <div class="col-sm">
                    Alerta
                    <p-radioButton class="indicador-alert" name="temperatura" value="1" disabled
                                   [(ngModel)]="indicadores.alertaTemperatura"></p-radioButton>
                </div>
            </div>
        </p-card>
    </div>
    <div class="col-sm">
        <p-card>
            <div class="text-center">
                <strong>Sistema de humedad</strong>
            </div>
            <div style="text-align: right; margin-right: 12%">
                <div class="col-sm">
                    Humificador
                    <p-radioButton class="indicador-on" name="humedad" value="1" disabled
                                   [(ngModel)]="indicadores.humificador"></p-radioButton>
                </div>
                <div class="col-sm">
                    Deshumificador
                    <p-radioButton class="indicador-on" name="humedad" value="1" disabled
                                   [(ngModel)]="indicadores.deshumificador"></p-radioButton>
                </div>
                <div class="col-sm">
                    Alerta
                    <p-radioButton class="indicador-alert" name="humedad" value="1" disabled
                                   [(ngModel)]="indicadores.alertaHumedad"></p-radioButton>
                </div>
            </div>
        </p-card>

    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <p-card>
            <div class="text-center">
                <strong>Sistema de Nivel</strong>
            </div>
            <div style="text-align: right; margin-right: 20%">
                <div class="col-sm">
                    Bomba
                    <p-radioButton class="indicador-on" name="nivel" value="1" disabled
                                   [(ngModel)]="indicadores.bomba"></p-radioButton>
                </div>
                <div class="col-sm">
                    Alerta
                    <p-radioButton class="indicador-alert" name="nivel" value="1" disabled
                                   [(ngModel)]="indicadores.alertaNivel"></p-radioButton>
                </div>
            </div>
        </p-card>
    </div>
    <div class="col-sm">
        <p-card>
            <div class="text-center">
                <strong>Sistema de pH</strong>
            </div>
            <div style="text-align: right; margin-right: 20%">
                <div class="col-sm">
                    pH elevado
                    <p-radioButton class="indicador-on" name="ph" value="1" disabled
                                   [(ngModel)]="indicadores.phElevado"></p-radioButton>
                </div>
                <div class="col-sm">
                    pH bajo
                    <p-radioButton class="indicador-on" name="ph" value="1" disabled
                                   [(ngModel)]="indicadores.phBajo"></p-radioButton>
                </div>
                <div class="col-sm">
                    Alerta
                    <p-radioButton class="indicador-alert" name="ph" value="1" disabled
                                   [(ngModel)]="indicadores.alertaPh"></p-radioButton>
                </div>
            </div>
        </p-card>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <p-panel header="Estado de las plantas">
            <p>
                <p-radioButton name="plantas" (click)="setEnraizamiento()"
                               value="1" [(ngModel)]="indicadores.enraizamiento"></p-radioButton>
                Enraizamiento
            </p>
            <p>
                <p-radioButton name="plantas" (click)="setVegetativo()"
                               value="1" [(ngModel)]="indicadores.vegetativo"></p-radioButton>
                Vegetativo
            </p>
            <p>
                <p-radioButton name="plantas" (click)="setFloracion()"
                               value="1" [(ngModel)]="indicadores.floracion"></p-radioButton>
                Floración
            </p>
        </p-panel>
    </div>
    <div class="col-sm">
        <p-card>
            <div class="row">
                <div class="col-sm text-center">
                    Aire
                    <p-radioButton class="indicador-on" name="aire" value="1" disabled
                                   [(ngModel)]="indicadores.aire"></p-radioButton>
                </div>
            </div>
        </p-card>
        <br>
        <p-card>
            <div class="row">
                <div class="col-sm">
                    <p-toggleButton onLabel="Start" offLabel="Start" class="success"
                                    onIcon="pi pi-check" offIcon="pi pi-times"
                                    (click)="setStart()"
                                    name="start"
                                    [(ngModel)]="start"></p-toggleButton>
                </div>
                <div class="col-sm">
                    <p-toggleButton onLabel="Stop" offLabel="Stop" class="danger"
                                    onIcon="pi pi-check" offIcon="pi pi-times"
                                    (click)="setStop()"
                                    name="stop"
                                    [(ngModel)]="stop"></p-toggleButton>
                </div>

            </div>
        </p-card>
    </div>
</div>

